:root{
    --white: #ffffff;
    --gray:#5c616b;
    --gray2:#757880;
    --black:#1e2025;
}
*{
    box-sizing: border-box;
    margin: 0px;
}
body{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.zonaCalculadoras{
    width: 80%;
    height: 60%;
    display:  flex;
    background-color: var(--black);
    color: var(--white);
    border: 1px solid var(--white); 
    display: flex;
    flex-direction: row;   
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    padding: 0.5%;
    gap: 5px;
}

.calculadora{
    width: 19vw;
    height: 29vh;
    border: 1px solid var(--white);
   
}

.zonaCalculo , .calculadora{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}
.zonaCalculo{
    gap: 5px;
}
.inputCalc{
    text-align: center;
}
.alertas{
    position: absolute;
    width: 15%;
    left: 85%;
    height: 80%;
    top: 10%;
    display: flex;
    flex-direction: column-reverse;
    overflow: hidden;
    align-items: center;
    gap: 1%;
}
.alerta{
    width: 100%;
    height: 20%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    border: 2px solid rgb(163, 14, 14);
    border-radius: 3%;
    background-color: rgba(248, 119, 119, 0.247);
    opacity: 1;
}
.alerta img{
    height: 40%;
}
.alerta p{
    color: rgb(121, 3, 3);
}